<div class="jumbotron-mt-4">
    <h1 class="display-4">MQA support</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio aut suscipit tenetur eveniet ex adipisci vel perferendis dolorem consectetur, sit cumque obcaecati. Rem ipsa veritatis dolorem nihil sed error vero.</p>
    <hr class="my-4">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus officia neque quod. Optio et molestiae quidem aperiam porro recusandae, velit hic esse fugit ipsum officia neque ratione magnam labore sapiente.</p> 
    <a href="www.google.com" class="btn btn-primary btn-lg" target="_blank">ChatBot</a>
</div>