<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card" style="margin-top:2%;">
            <div class="card-header">
                <h1>Registrar usuario</h1>                
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{name}}">                        
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">                        
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña">                        
                    </div>
                    <br>
                     <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirmar contraseña">                        
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>